/.output
/wprof
/sim
/*.pb
/*.log
/dump.txt
/wprof.data
/wprof.data.*
/wprof.*.data
/*.wprof.*.data
/*.wprof.data
/wprof-session.*
/compile_commands.json
/.cache
/.gdb_history
/.claude
/demangle/target
